<nav class="navbar">
    <a href="/home">
        Organizer
    </a>
    <ul>
        <li>
            <a href="/new"><i class="fas fa-clipboard-list fa-2x"></i></a>
        </li>

    </ul>

    <ul>
        <li>
            <a href="/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </li>
    </ul>
</nav>