<nav class="navbar">
    <ul class="main-ul">
        <li>
            <a href="/home"><i class="fas fa-home fa-2x"></i></a>
        </li>
        <li>
            <a href="/new"><i class="fas fa-clipboard-list fa-2x"></i></a>
        </li>
        <li>
            <a href="/task-chart"><i class="fas fa-chart-bar fa-2x"></i></i></a>
        </li>

    </ul>

    <ul>
        <li>
            <a href="/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </li>
    </ul>
</nav>