<%- include('partials/header.ejs') %> 

    <div class="container">
        <dv class="card mt-5">
            <div class="card-header">
                <h4>Cadastro</h4>
            </div>
           
            <div class="card-body">
                <form action="/cadastro/create" method="POST" class="form-group mt-3 mx-2">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Digite seu email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="senha" class="form-control" placeholder="Digite sua senha">
                    </div>
                   <% if(errors.length > 0) { %>
                      <p class="text-danger"><%= errors[0] %> </p>
                      <p><a href="/cadastro/index">Tentar novamente.</a></p>
                   <% } else if(success) { %>
                       <p class="text-success"><%= success %> </p>
                       <p><a href="/login">Realizar o login.</a></p>
                    <%  }  %> 
                    <button class="btn btn-info btn-block">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs') %> 