<%- include('partials/header.ejs'); %>

<%- include('partials/homenavbar.ejs'); %> 

<body>
    <div style="margin: 60px auto; width: 500px; height: 500px;">
        <canvas id="myChart"></canvas>
      </div>

<%- include('partials/footer.ejs'); %>