<%- include('partials/header.ejs'); %>

<%- include('partials/navbar.ejs'); %> 

<body>
    
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h5>Nova tarefa</h5>
            </div>
            <div class="card-body">
                <form action="/save" method="POST" class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Título"><br>
                    <input type="text" class="form-control" name="body" placeholder="Tarefa"><br>
                    <button class="btn btn-success">Criar</button>
                </form>
            </div>
        </div>
    </div>    




<%- include('partials/footer.ejs'); %>